

.overlay{
    position: absolute;
    opacity: 0;
    width: 100%;
    transition: all 0.3s ease;
    bottom: 0; 
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: flex-end;
}

.photo-container:hover {
    cursor: pointer;
    .overlay {
        opacity: 1;
    }
}

img {
    width:100%
}
