<mat-sidenav-container>
    <mat-sidenav mode="side" opened>
        <mat-nav-list>
            <mat-list-item routerLink routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <mat-icon matListItemIcon>photo_library</mat-icon>
                My Photos
            </mat-list-item>
            <mat-list-item routerLink="/favourites" routerLinkActive="active">
                <mat-icon matListItemIcon>star_border</mat-icon>
                My Favourites
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
